@media all and (max-width:1000px){
.lesson{
    width:50%
}

h1{
    font-size:75px;
}

h2{
font-size:32px

}

}

@media all and (max-width:450px){
.header-list {
    display:none;
}
.header-logo{
    margin:0 20px;
    font-size:27px;
    line-height:90px;
}

h1{
    font-size:50px;
    margin-left:20px;
    margin-right:20px;
    margin-top:50px;
}

h2{
    margin-left:20px;
    margin-right: 20px;
    font-size:21px;
}

.main2{
    margin:40px 20px;
}

h3{
    font-size:16px;
    padding-bottom:10px;
}

.title{
    font-size:18px;
    margin:8px 0 0 0;
}

.explain{
    font-size:8px;
}

.lesson{
    margin:15px 0;
}
.main3{
    margin:0 20px;
}

.main3-1{
    margin:20px 0 5px 0;
}

.main3-2{
    margin:10px 0 5px 0;
}
.submit-btn{
    margin-bottom:20px;
    width:100%;
    padding:10px;
}

footer{
    height:60px;
}

.footer-container p{
    line-height:60px;
    font-size:25px;
}
.footer-list{
    font-size:10px;
    margin-top:8px;
    margin-right:10px;
}

}
