h1,h2,h3,p,ul,li{
    margin:0;
    padding:0;
}

.box{
    width:100px;
    height:100px;
    background-color:skyblue;
    cursor:pointer;
    transition:0.8s;
    margin:0 8px 8px 0; 
    text-align: center;
    line-height:100px;
}
.pay{
    background-color:gold;
    border-radius:50%;
    transform:rotate(360deg);

}
.notpay{
    transform:scale(0.8);
    
}
body{
    display:flex;
    flex-wrap:wrap;
}
h1{
    width:100%;
    text-align:center;
    font-size:18px;
    padding:10px 0;
}
.fas{
    margin:0 7px;
    color:gold;
    padding:10px 0;
}
.title,.explain{
    width:100%;
}
.title{
    text-align:center;
}
ul{
    list-style: none;
    width:100%;
    text-align:center;
    margin-bottom:20px;
}
